<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Second Hand Market</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="../static/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>
<body>
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Second Hand Market</h1>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" th:href="@{/}">SHM</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
				<li class="nav-item active" sec:authorize="isAuthenticated()"><a
					class="nav-link" th:href="@{/app/myproducts}">My Products</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" th:href="@{/app/mypurchases}">My Purchases</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0 mr-3">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-search"></i></span>
					</div>
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search..." name="q" th:value="${param.q}"
						aria-label="Search">
				</div>
				<button class="btn btn-success" type="submit">Search</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" th:href="@{/app/cart}"><span
						class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
				<li class="nav-item" sec:authorize="!isAuthenticated()"><a
					class="nav-link" th:href="@{/auth/login}"><span
						class="glyphicon glyphicon-user"></span> Login</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> <span th:text="${#authentication.name}">Dropdown</span>
						<span class="caret"></span>
				</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item"
							href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
					</div></li>
			</ul>
		</div>
	</nav>
	<form th:action="@{/auth/logout}" method="POST" id="logoutForm"></form>

	<div class="container">
		<div class="row d-flex justify-content-center">
			<div>
				<a th:href="@{/app/product/new}" class="btn btn-lg btn-primary">New
					product</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4" th:each="product : ${myproducts}">
				<div class="card product-panel">
					<div class="panel-heading">
						<span class="p-3 d-inline-block" th:text="${product.name}">PRODUCT
							NAME</span> <a th:if="${product.purchase == null}" data-toggle="modal"
							data-target="#delete-modal" th:data-id="${product.id}"
							class="close" aria-label="close">&times;</a>
					</div>
					<div class="card-body">
						<a th:href="@{/public/product/{id}(id=${product.id})}"> <img
							src="http://placehold.it/350x260"
							th:src="${#strings.isEmpty(product.image)} ? 'http://placehold.it/350x260' : ${product.image}"
							class="card-img-top" alt="Image" style="height: 300px;" /></a>
					</div>
					<div class="panel-footer">
						<div class="row d-flex justify-content-center">
							<div class="price">
								<span class="price card-text pl-3"
									th:text="${#numbers.formatCurrency(product.price)}"></span>
							</div>
							<div class="pl-3">
								<h4>
									<span th:if="${product.purchase != null} "
										class="badge badge-success">Sold</span> <span
										th:unless="${product.purchase != null} "
										class="badge badge-info">Not Sold</span>
								</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Delete product</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete this product?</p>
					<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
					<a href="#" class="btn btn-danger">Yes</a>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#delete-modal').on('show.bs.modal', function(event) {
				var button = $(event.relatedTarget);
				var data = button.data('id');

				var modal = $(this);

				var a = modal.find('.modal-body a')[0];
				a.href = '/app/myproducts/' + data + '/delete';
			});
		});
	</script>
</body>
</html>
